In [1]:
%load_ext sql
import pandas as pd
import os
import numpy as np
from sklearn import feature_extraction, linear_model, model_selection, preprocessing
from config import db_host, db_name, username, db_pw

In [2]:
host = "localhost"
database = "disaster_db"
user = (username)
password = (db_pw)
connection_string = f"postgresql://{user}:{password}@{host}/{database}"
%sql $connection_string

'Connected: disaster@disaster_db'

In [6]:
%%sql

SELECT * from test LIMIT 10

 * postgresql://disaster:***@localhost/disaster_db
10 rows affected.

[(0, '', '', 'Just happened a terrible car crash'),
 (2, '', '', '"Heard about #earthquake is different cities, stay safe everyone."'),
 (3, '', '', '"there is a forest fire at spot pond, geese are fleeing across the street, I cannot save them all"'),
 (9, '', '', 'Apocalypse lighting. #Spokane #wildfires'),
 (11, '', '', 'Typhoon Soudelor kills 28 in China and Taiwan'),
 (12, '', '', "We're shaking...It's an earthquake"),
 (21, '', '', '"They\'d probably still show more life than Arsenal did yesterday, eh? EH?"'),
 (22, '', '', 'Hey! How are you?'),
 (27, '', '', 'What a nice hat?'),
 (29, '', '', 'Fuck off!')]

In [16]:
test_df = pd.read_sql_query('''SELECT * FROM test;''', connection_string)
test_df.head()

   id keyword location                                               text
0   0                                  Just happened a terrible car crash
1   2                   "Heard about #earthquake is different cities, ...
2   3                   "there is a forest fire at spot pond, geese ar...
3   9                            Apocalypse lighting. #Spokane #wildfires
4  11                       Typhoon Soudelor kills 28 in China and Taiwan

In [17]:
train_df = pd.read_sql_query('''SELECT * FROM train;''', connection_string)
train_df.head()

,id,keywork,location,text,target
0,1,,,Our Deeds are the Reason of this #earthquake M...,1
1,4,,,Forest fire near La Ronge Sask. Canada,1
2,5,,,All residents asked to 'shelter in place' are ...,1
3,6,,,"""13,000 people receive #wildfires evacuation o...",1
4,7,,,Just got sent this photo from Ruby #Alaska as ...,1

In [20]:
count_vectorizer = feature_extraction.text.CountVectorizer()

# counts for the first 5 tweets in the train_df
example_train_vectors = count_vectorizer.fit_transform(train_df["text"][0:5])

In [21]:
print(example_train_vectors[0].todense().shape)
print(example_train_vectors[0].todense())

(1, 54)
[[0 0 0 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0
  0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0]]

In [23]:
# create vectors for all tweets
train_vectors = count_vectorizer.fit_transform(train_df["text"])
# ensure vectors used in test are the same vectors used in train
test_vectors = count_vectorizer.transform(test_df["text"])

In [24]:
# utilize ridge regression to push model weights toward 0
clf = linear_model.RidgeClassifier()

In [25]:
scores = model_selection.cross_val_score(clf, train_vectors, train_df["target"], cv=3, scoring = "f1")
scores

array([0.5958132 , 0.56681351, 0.6481665 ])

In [26]:
clf.fit(train_vectors, train_df["target"])

RidgeClassifier()

In [29]:
sample_submission = pd.read_csv("kaggle/input/nlp-getting-started/sample_submission.csv")
sample_submission.head()

   id  target
0   0     NaN
1   2     NaN
2   3     NaN
3   9     NaN
4  11     NaN

In [32]:
sample_submission["target"] = clf.predict(test_vectors)
sample_submission.head()

   id  target
0   0       0
1   2       1
2   3       1
3   9       0
4  11       1

In [33]:
# sample_submission.to_csv("submission.csv", index=False)